<ul class="card-list">
  <li class="card-item">
    <a class="card-action">
      <div class="icon-border">
        <i class="icon far fa-sun"></i>
      </div>
      <p class="item-vocation">Basic Vocation</p>
      <p class="item-value">25<span>/30</span></p>
      <p class="item-plan">TO PLAN</p>
    </a>
  </li>
  <li class="card-item">
    <a class="card-action">
      <div class="icon-border">
        <i class="icon far fa-sun"></i>
      </div>
      <p class="item-vocation">Basic Vocation</p>
      <p class="item-value">25<span>/30</span></p>
      <p class="item-plan">TO PLAN</p>
    </a>
  </li>
  <li class="card-item">
    <a class="card-action">
      <div class="icon-border">
        <i class="icon far fa-sun"></i>
      </div>
      <p class="item-vocation">Basic Vocation</p>
      <p class="item-value">25<span>/30</span></p>
      <p class="item-plan">TO PLAN</p>
    </a>
  </li>
  <li class="card-item">
    <a class="card-action">
      <div class="icon-border">
        <i class="icon far fa-sun"></i>
      </div>
      <p class="item-vocation">Basic Vocation</p>
      <p class="item-value">25<span>/30</span></p>
      <p class="item-plan">TO PLAN</p>
    </a>
  </li>
  <li class="card-item">
    <a class="card-action">
      <div class="icon-border">
        <i class="icon far fa-sun"></i>
      </div>
      <p class="item-vocation">Basic Vocation</p>
      <p class="item-value">25<span>/30</span></p>
      <p class="item-plan">TO PLAN</p>
    </a>
  </li>
  <li class="card-item">
    <a class="card-action">
      <div class="icon-border">
        <i class="icon far fa-sun"></i>
      </div>
      <p class="item-vocation">Basic Vocation</p>
      <p class="item-value">25<span>/30</span></p>
      <p class="item-plan">TO PLAN</p>
    </a>
  </li>
  <li class="card-item">
    <a class="card-action">
      <div class="icon-border">
        <i class="icon far fa-sun"></i>
      </div>
      <p class="item-vocation">Basic Vocation</p>
      <p class="item-value">25<span>/30</span></p>
      <p class="item-plan">TO PLAN</p>
    </a>
  </li>
  <li class="card-item">
    <a class="card-action">
      <div class="icon-border">
        <i class="icon far fa-sun"></i>
      </div>
      <p class="item-vocation">Basic Vocation</p>
      <p class="item-value">25<span>/30</span></p>
      <p class="item-plan">TO PLAN</p>
    </a>
  </li>
</ul>
