@import '../../../../assets/styles/variables.scss';

@import '../../../../assets/styles/mixis.scss';

.card-list {
  display: flex;
  .card-item {
    background-color: #FFF;
    border-radius: 7px;
    margin-right: 25px;
    border: 1px solid rgba(228, 227, 227, 0.521);
    .card-action {
      width: 220px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .icon-border {
        margin: 15px 0 10px 0;
        .fa-sun {
          @include border_icon($icon-blue-primary, $icon-blue);
        }
        .fa-graduation-cap {
          @include border_icon($icon-table-yellow, $icon-table-yellow-secundary);
        }
        .fa-baby-carriage {
          @include border_icon($icon-table-green, $icon-blue);
        }
      }
      .item-vocation, .item-value {
        margin-bottom: 10px;
      }
      .item-value {
        margin-top: 10px;
        span {
          font-size: 10px;
          margin-left: 3px;
        }
      }
      .item-plan {
        margin-bottom: 20px;
      }
      &:hover {
        border-radius: 7px;
        cursor: pointer;
        background-color: #FFF;
      }
    }
  }
}
