<ul class="table-list">
  <li class="table-item" *ngFor="let item of itens">
    <a class="table-action" (click)="ack(item.id)" [ngClass]="{'bkg': id === item.id}">
      <div class="icons">
        <div class="ic basic" *ngIf="item.is_basic">
          <i class="icf far fa-sun"></i>
          <P>{{ item.vocation }}</P>
        </div>
        <div class="ic study" *ngIf="item.is_study">
          <i class="icf fas fa-graduation-cap"></i>
          <p>{{ item.vocation }}</p>
        </div>
        <div class="ic parental" *ngIf="item.is_parental">
          <i class="icf fas fa-baby-carriage"></i>
          <P>{{ item.vocation }}</P>
        </div>
      </div>
      <div class="dates">
        <i class="fas fa-calendar-alt"></i>
        <p class="before-date">{{ item.date_visited }}</p>
        <span>-</span>
        <p class="after-date">{{ item.date_return }}</p>
      </div>
      <div class="clock">
        <i class="far fa-clock"></i>
        <p>{{ item.date_time_now }} Days</p>
      </div>
      <div class="status approved" *ngIf="item.is_approved">
        <p>Approved</p>
        <i class="fas fa-check-circle"></i>
      </div>
      <div class="status pending" *ngIf="item.is_pending">
        <p>Pending</p>
        <i class="fas fa-clock"></i>
      </div>
      <div class="status rejected" *ngIf="item.is_rejected">
        <p>Rejected</p>
        <i class="fas fa-times-circle"></i>
      </div>
    </a>
  </li>
</ul>
