$primary: #1d233b;
$secundary: #25a9eb;
$ground: #f7f7f7;

$icon-color: #8d95a1;
$icon-color-hover: #ebf2f3;
$icon-blue: #caebf3;
$icon-blue-secundary: #b8ccc3;
$icon-yellow: #f1dab5;
$icon-pink: #fedbfe;
$icon-table-green: #2daa6c;
$icon-table-yellow: #e8b856;
$icon-table-red: #bd6667;

$font-primary: #4b4c51;
